@{
    Layout = "~/Views/Shared/_InstitutoRegister.cshtml";
    ViewBag.Title = "Registrar";
}

@using (Html.BeginForm("CreateProfile", "Profile", FormMethod.Post))
{
    <center><h4 class="card-title">Registro de la Institución</h4></center>
    <br>
    <div class="form-group">
        <label class="label">Nombre</label>
        <div class="col-md-12">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" id="nombreAdmin" placeholder="Nombre" value="" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="label">Dirección</label>
        <div class="col-md-12">
            <div class="form-group">
                <label>Direcci&oacute;n</label>
                <input type="text" class="form-control" id="direccion" placeholder="Direcci&oacute;n" value="" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="label">Tel&eacute;fono</label>
        <div class="col-md-12">
            <div class="form-group">
                <label>Tel&eacute;fono</label>
                <input type="text" class="form-control" id="telefono" placeholder="Teléfono" value="" required>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <label class="label">Nivel Educativos</label>
        <div class="form-group">
            <label>Nivel educativo</label>
            <select class="form-control" id="nivelEdInstitucion" required>
                <option selected id="tomar">Seleccionar</option>
            </select>
        </div>

    </div>


    <div class="col-md-12">
        <label class="label">Director</label>
        <div class="form-group">
            <label>Director</label>
            <input type="text" class="form-control" id="directorInstitucion" placeholder="Nombre completo del director" value="" required>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="label">Tel&eacute;fono</label>
        <center>
            <button type="button" onclick="Registrar()" class="btn btn-primary submit-btn btn-block">Registrar</button>
        </center>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>

    <script src="~/Scripts/Platform/Institution/GetEducationLevel.js"></script>
    <script src="~/Scripts/Platform/Institution/RegisterInstituto.js"></script>

}