@{
    ViewBag.Title = "Estudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 d-flex align-items-stretch grid-margin">
                <div class="row flex-grow">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Alumnos</h4>
                                <div class="card">
                                    <div class="card-body">
                                        <form id="form" method="post">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Matr&iacute;cula</label>
                                                        <input type="text" class="form-control" id="matriculaAlumno" placeholder="Matrícula" value="" required>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Nombre</label>
                                                        <input type="text" class="form-control" id="nombreAlumno" placeholder="Nombre" value="" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Apellido paterno</label>
                                                        <input type="text" class="form-control" id="apellidopAlumno" placeholder="Apellido paterno" value="" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Apellido materno</label>
                                                        <input type="text" class="form-control" id="apellidomAlumno" placeholder="Apellido materno" value="" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Tel&eacute;fono</label>
                                                        <input type="text" class="form-control" id="telefonoAlumno" placeholder="Teléfono" value="" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Institución</label>
                                                        <select class="form-control" id="institucionId" autocomplete="on" required>
                                                            <option selected>Seleccionar</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Grupo</label>
                                                        <select class="form-control" id="grupoId" autocomplete="on" required>
                                                            <option selected>Seleccionar</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Grado</label>
                                                        <select class="form-control" id="gradoId" autocomplete="on" required>
                                                            <option selected>Seleccionar</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-2">
                                                    <br><br>
                                                    <button type="button" id="saveStudent" class="btn btn-success mr-2">Guardar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/Platform/General/GetInstitucion.js"></script>
        <script src="~/Scripts/Platform/Student/GetGroup.js"></script>
        <script type="text/javascript" src="~/Scripts/Platform/Student/CreateStudent.js"></script>


