@{
    ViewBag.Title = "Estudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 d-flex align-items-stretch grid-margin">
                <div class="row flex-grow">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Alumnos</h4>
                                <div class="card">
                                    <div class="card-body">
                                        <form id="form" method="post">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Matr&iacute;cula</label>
                                                        <input type="text" class="form-control" id="matriculaAlumno" placeholder="Matrícula" value="" required>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Nombre</label>
                                                        <input type="text" class="form-control" id="nombreAlumno" placeholder="Nombre" value="" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Apellido paterno</label>
                                                        <input type="text" class="form-control" id="apellidopAlumno" placeholder="Apellido paterno" value="" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Apellido materno</label>
                                                        <input type="text" class="form-control" id="apellidomAlumno" placeholder="Apellido materno" value="" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Tel&eacute;fono</label>
                                                        <input type="text" class="form-control" id="telefonoAlumno" placeholder="Teléfono" value="" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Institución</label>
                                                        <select class="form-control" id="institucionId" autocomplete="on" required>
                                                            <option selected>Seleccionar</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Grupo</label>
                                                        <select class="form-control" id="grupoId" autocomplete="on" required>
                                                            <option selected>Seleccionar</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Grado</label>
                                                        <select class="form-control" id="gradoId" autocomplete="on" required>
                                                            <option selected>Seleccionar</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-2">
                                                    <br><br>
                                                    <button type="button" id="saveStudent" class="btn btn-success mr-2">Actualizar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/Platform/General/GetInstitucion.js"></script>
        <script src="~/Scripts/Platform/Student/GetGroup.js"></script>
    <script>

        var dateuser = localStorage.getItem("keyuser");

        $(document).ready(function () {
            var accion;
            var error;
            var msj;

            id= @Request.QueryString["id"];
            var oModel = {
                "StudentId": id
            }
           $.ajax({
                "async": true,
                "crossDomain": true,
                "cache": false,
                "method": "POST",
                "url": "http://192.168.0.103:59538/Api/Student/ShowUpdate",
                "data": JSON.stringify(oModel),
                "contentType": "application/json",
           success: function (data) {
                var i;
                for (i = 0; i < data.length; i++) {
                   $("#matriculaAlumno").val(data[i].matricula);
                   $("#nombreAlumno").val(data[i].nombre);
                   $("#apellidopAlumno").val(data[i].apellidom);
                   $("#apellidomAlumno").val(data[i].apellidop);
                   $("#telefonoAlumno").val(data[i].telefono);
                   var gru = data[i].grupoId;
                   var inst = data[i].institucionId;
                   var gra = data[i].grado;
                   $("#grupoId option[value=" + gru + "]").attr("selected", true);
                   $("#institucionId option[value=" + inst + "]").attr("selected", true);
                   $("#gradoId option[value=" + gra + "]").attr("selected", true);
                }

               error = "Ninguno";
               msj = "Funcionamiento correcto";
               accion = "Obtencion de datos para la actualizacion de un estudiante";
               Information(accion, error, msj);

            },
           error: function (jqXHR, textStatus, err) {
               console.log(textStatus);
               error = err + " " + textStatus + " " + jqXHR;
               msj = "Administrador revisa el funcionamiento del portal";
               accion = "Fallo obtencion de datos para actualizar un estudiante";
               Information(accion, error, msj);
            }
            });
        });


        $('#saveStudent').click(function () {
            var accion;
            var error;
            var msj;

            var oModel = {
                "StudentId":id,
                "Matricula": $("#matriculaAlumno").val(),
                "Nombre": $("#nombreAlumno").val(),
                "Apellidop": $("#apellidopAlumno").val(),
                "Apellidom": $("#apellidomAlumno").val(),
                "Telefono": $("#telefonoAlumno").val(),
                "InstitucionId": $("#institucionId").attr("selected", true).val(),
                "GrupoId": $("#grupoId").attr("selected", true).val(),
                "Grado": $("#gradoId").attr("selected", true).val(),
                "Users": dateuser
            }
            $.ajax({
                    "async": true,
                    "crossDomain": true,
                    "cache": false,
                    "method": "POST",
                    "url": "http://192.168.0.103:59538/Api/Student/Update",
                    "data": JSON.stringify(oModel),
                    "contentType": "application/json",
                success: function (data) {
                    error = "Ninguno";
                    msj = "Funcionamiento correcto";
                    accion = "Actualizacion de un alumno";
                    Information(accion, error, msj);

                    swal("Estudiante actualizado", "El estudiante se actualizo correctamente", "success")
                    window.location.href = "ShowStudent";
                    return false;

                },
                error: function (jqXHR, textStatus, err) {
                    swal("Existio un problema al actualizar");
                    error = err + " " + textStatus + " " + jqXHR;
                    msj = "Administrador revisa el funcionamiento del portal";
                    accion = "Fallo actualizacion de un alumno";
                    Information(accion, error, msj);
                    window.location.href = "ShowStudent";
                    return false;
                }
            });
        });


        function Information(accion, error, msj) {
            var oModel = {
                "Accion": accion,
                "Error": error,
                "Msj": msj,
                "Users": dateuser
            }
            $.ajax({
                "async": true,
                "crossDomain": true,
                "cache": false,
                "method": "POST",
                "url": "http://192.168.0.103:59538/Api/Binnacle/Info",
                "data": JSON.stringify(oModel),
                "contentType": "application/json"
            }).done(function (response) {
                console.log(response);
            }).fail(function (jqXHR, textStatus, err) {
                console.log(textStatus);
            });
        }
        
     </script>


