@{
    ViewBag.Title = "Datos institución";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="row flex-grow">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Datos de la instituci&oacute;n</h4>
                                <div class="card">
                                    <div class="card-body">
                                        <form class="forms-sample">
                                            <table id="tableins" class="table table-striped table-bordered" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Direcci&oacute;n</th>
                                                        <th>Tel&eacute;fono</th>
                                                        <th>Nivel educativo</th>
                                                        <th>Director</th>
                                                        <th>Opciones</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script>
            var dateuser = localStorage.getItem("keyuser");

            $(document).ready(function () {
                LoadDatatable();

            });

            function LoadDatatable() {
                var table = $('#tableins').DataTable({
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ registros por página.",
                        "zeroRecords": "Lo sentimos. No se encontraron registros.",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "No hay registros aún.",
                        "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                        "search": "Búsqueda",
                        "LoadingRecords": "Cargando ...",
                        "Processing": "Procesando...",
                        "SearchPlaceholder": "Comience a teclear...",
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Siguiente",
                        }
                    },
                    "scrollY": 350,
                    "scrollX": true,
                    "ajax": {
                        "method": "POST",
                        "url": "http://192.168.0.103:59538/Api/Institution/Show",
                        data: {
                            "UserCreation": dateuser
                        },

                        dataSrc: ''
                    },
                    "columns": [
                        {
                            'aTargets': [0],
                            'bSortable': true,
                            'mData': "name",
                            "width": "20%"
                        },
                        {
                            'aTargets': [0],
                            'bSortable': true,
                            'mData': "direction",
                            "width": "20%"
                        },
                        {
                            'aTargets': [0],
                            'bSortable': true,
                            'mData': "phone",
                            "width": "20%"
                        },
                        {
                            'aTargets': [0],
                            'bSortable': true,
                            'mData': "educationLevelName",
                            "width": "20%"
                        },
                        {
                            'aTargets': [0],
                            'bSortable': true,
                            'mData': "director",
                            "width": "20%"
                        },
                        {
                            "mRender": function (param, type, full) {
                                return "<center><a href='javascript:Editar()' class='btn btn-warning' role='button' aria-pressed='true' id='Editar' alt='Editar'><i class='fa fa-pencil-square-o'></i></a>" +
                                    "&nbsp;&nbsp;</center>";
                            }
                        }
                    ]
                });

                table.on('click', '#Editar', function () {
                    var idtr = table.row($(this).parents('tr')).data();

                    var numero = idtr.institutionID;

                    localStorage.setItem("numero", numero);


                });

            }

            function Editar() {

                var obteniendo_letra = localStorage.getItem("numero");

                window.location.href = "/Institutions/CreateInstitution?id=" + obteniendo_letra;

                localStorage.clear();

            }

        </script>
